.container{
    height: 600px;
    width: 300px;
    background-color: azure;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    
}

.box{
    height: 100px;
    width: 50px;
    background-color: aqua;
    border: 2px solid balck;
    text-align: center;
}