/* *{
    margin: 5px;
} */

/* video 8 video 8 video 8 video 8 video 8 video 8v ideo 8 video 8 video 8 video 8 */

/* p {
    background-color: aquamarine;
}

a {
    background-color: rgb(220, 160, 122);
}

div {
    background-color: yellow;
}

span{
    background-color: rgb(198, 165, 230);
} */

/* fieldset{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 5px;
    border-color: peachpuff;
} */

/* video 9 video 9 video 9 video 9 video 9 video 9 video 9 video 9 video 9 video 9  */

/* video 10 video 10 video 10 video 10 video 10 video 10 video 10 video 10 video 10 */

/* audio{
    width: 450px;
} */

/* video 11 video 11 video 11 video 11 video 11 video 11 video 11 video 11 video 11 */

/* ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: aqua;
}

li{
    color: white;
}

footer{
    text-align: center;
} */

/* video 12 video 12 video 12 video 12 video 12 video 12 video 12 video 12 video 12 */

/* exercise 1 exercise 1 exercise 1 exercise 1 exercise 1 exercise 1 exercise 1 exercise 1 */

/* div{
    color: white;
    background-color: blue;
}

p:first-child{
    color: red;
    background-color: yellow;
} */

